.table-containerD {
    width: 50%;
    margin: 20px;
    border: 4px solid brown;
    border-radius: 8px;
  }
  
  .document-table {
    width: 100%;
    border-collapse: collapse;
    background-color: brown;
  }
  
  .document-table th, .document-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
   
  }
  
  .document-table th {
    background-color: #f2f2f2;
    text-align: center;
    
  }
  
  .document-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;

  }
  
  .document-table tbody tr:hover {
    background-color: #ddd;
  }

  